<footer class="footer">
    <div class="container">
        <div class="footer__colums ">
            <div class="colum-item ">
                <div class="footer-logo">
                    <div class="footer-logo__top">  <img src="assets/images/logo.png" alt="логотип"></div>
                    <div class="footer-logo__bottom">Artificial Intelligence</div>
                    <p class="footer-logo__text">Lorem ipsum is placeholder text commonly used in the graphic, print, and layouts and visual mockups.</p>
                </div>
                <div class="colum-item__inform item-inform">
                    <ul class="item-inform__menu">
                        <li class="item-inform__item"><a class="item-inform__link" href="mail:Company@gmail.com.com"><img src="assets/images/icons/mail.png" alt="почта">Company@gmail.com.com</a></li>
                        <li class="item-inform__item"><a class="item-inform__link" href="tel:(064) 332-1233"><img src="assets/images/icons/phone.png" alt="телефон">Phone: (064) 332-1233</a></li>
                        <li class="item-inform__item"><a class="item-inform__link" href="#"><img src="assets/images/icons/location.png" alt="локация">450 Wall Street, USA, New York</a></li>
                    </ul>
                </div>
            </div>
            <div class="colum-item">
                <div class="colum-item__title">INFORMATION</div>
                <ul class="colum-item__list list-itemColum">
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">New Collection</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">About Store</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Contact Us</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Latest News</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Our Sitemap</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Orders History</a></li>
                </ul>
            </div>
            <div class="colum-item">
                <div class="colum-item__title">FOOTER MENU</div>
                <ul class="colum-item__list list-itemColum">
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Instagram profile</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href=""> New Collection</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Contact Us</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Latest News</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Terms & Conditions </a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href=""> Purchase Theme</a></li>
                </ul>
            </div>
            <div class="colum-item">
                <div class="colum-item__title">USEFUL LINKS</div>
                <ul class="colum-item__list list-itemColum">
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Instagram profile</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href=""> New Collection</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Contact Us</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Latest News</a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href="">Terms & Conditions </a></li>
                    <li class="list-itemColum__item"><a class="list-itemColum__link" href=""> Purchase Theme</a></li>
                </ul>
            </div>
            <div class="colum-item">
                <div class="colum-item__title">ABOUT THE STORE</div>
                
                    <div class="colum-item-rigth__text">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and layouts and visual mockups.
                    </div>
                    <div class="colum-item-rigth__sotial">
                        <div class="colum-item-title"><a href="mail:www.company.com">www.company.com</a> </div>
                        <div class="colum-item-icons">
                            <img src="assets/images/social/1.png" alt="">
                            <img src="assets/images/social/2.png" alt="">
                            <img src="assets/images/social/3.png" alt="">
                            <img src="assets/images/social/4.png" alt="">
                            <img src="assets/images/social/5.png" alt="">
                        </div>
                    </div>
                    <div class="colum-item-rigth__footer">
                        <img class="footer__img" src="assets/images/icons/earth.png" alt="">
                        English
                        <img class="footer__arrow" src="assets/images/arroe-d.png" alt="">
                    </div>
               
            </div>
        </div>
    </div>

</footer>
